In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_json('moveis_disponiveis.json')

In [3]:
dados['data'] = pd.to_datetime(dados['data'])

dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  datetime64[ns]
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

In [4]:
dados['data'].dt.strftime('%Y-%m')

0         2016-01
1         2016-01
2         2016-01
3         2016-01
4         2016-01
           ...
364995    2016-12
364996    2016-12
364997    2016-12
364998    2017-01
364999    2017-01
Name: data, Length: 365000, dtype: object

In [5]:
subset = dados.groupby(dados['data'].dt.strftime('%Y-%m'))['vaga_disponivel'].sum(numeric_only= True)
subset = pd.DataFrame(subset)
subset = subset.reset_index()
subset = subset.rename(columns={'vaga_disponivel': 'vagas_disponiveis'})

In [6]:
subset

       data  vagas_disponiveis
0   2016-01              16543
1   2016-02              20128
2   2016-03              23357
3   2016-04              22597
4   2016-05              23842
5   2016-06              23651
6   2016-07              22329
7   2016-08              22529
8   2016-09              22471
9   2016-10              23765
10  2016-11              23352
11  2016-12              24409
12  2017-01               1574

In [7]:
dados_bkp = dados

In [8]:
dados['preco'] = dados['preco'].fillna('0.00')
dados['preco'] = dados['preco'].apply(lambda x: x.replace('$','').replace(',',''))
dados['preco'] = dados['preco'].astype(np.float64)

dados
#dados.to_csv('Dados.csv', sep=';')

          id       data  vaga_disponivel  preco
0        857 2016-01-04            False    0.0
1        857 2016-01-05            False    0.0
2        857 2016-01-06            False    0.0
3        857 2016-01-07            False    0.0
4        857 2016-01-08            False    0.0
...      ...        ...              ...    ...
364995  3279 2016-12-29             True  140.0
364996  3279 2016-12-30             True  140.0
364997  3279 2016-12-31             True  140.0
364998  3279 2017-01-01             True  140.0
364999  3279 2017-01-02            False    0.0

[365000 rows x 4 columns]