# Biblioteca pyodbc

1. Precisamos criar uma conexão com o banco de dados.

dados_conexao = ("Driver={SQL Server};"
                "Server=SeuServidor;"
                Database=NomeBaseDeDados;")
          
Se estivéssemos usando outro sistema de banco de dados, nosso driver mudaria. Para saber em outros casos, execute:
pyodbc.drivers() -> caso não encontre seu driver ali, basta buscar no google por "driver MeuBancoDeDados for pyodbc" e baixar

In [12]:
import pyodbc

dados_conexao = ("Driver={SQL Server};"
            "Server=ACER-RYZEN\SQLEXPRESS;"
            "Database=ContosoRetailDW;")

#caso precisasse de login e senha:
#dados_conexao = ("Driver={SQL Server Native Client 11.0};"
#            "Server=UKXXX00123,45600;"
#            "Database=DB01;"
#            "UID=Login;"
#            "PWD=Senha;")


conexao = pyodbc.connect(dados_conexao)
print('Conexão Bem sucedida')

Conexão Bem sucedida

2. Agora, precisamos criar o que o pyodbc chama de cursor, que é basicamente quem vai executar os nossos códigos SQL

In [11]:
cursor = conexao.cursor()

3. Agora já podemos executar nossos comandos SQL.

Temos 2 opções aqui:<br>
    1. Apenas Executar comandos SQL que vão acontecer no banco
    2. Executar o comando SQL e armazenar a consulta em uma variável no Python, como um dataframe do pandas

Vamos usar a 2ª opção por ser a mais útil e melhor para o nosso objetivo, até porque normalmente não teremos acesso de edição ao banco de dados (e devemos tomar MUITO cuidado com isso).

dataframe = pd.read_sql('COMANDO_SQL', conexao) -> vai executar o comando SQL, gerando uma consulta e retornando a resposta dessa consulta para o dataframe

Para pegar uma tabela inteira do nosso banco de dados, usaremos o comando SQL Select *:
"SELECT * FROM BaseDeDados.Tabela"

In [13]:
#opção 1: apenas executar um comando no banco de dados
# cursor.execute("SELECT * FROM BaseDeDados.Tabela")
# caso a operação não seja para criar uma consulta e sim um UPDATE, DELETE ou CREATE, você precisará fazer um commit
#da sua operação no banco de dados para implementar (não aconselhável se você não tem certeza que pode fazer isso)
# conexao.commit()

#opção 2: puxar uma consulta para o banco de dados com o pandas
import pandas as pd
produtos_df = pd.read_sql('SELECT * FROM ContosoRetailDW.dbo.DimProduct where productkey = 1', conexao)
display(produtos_df)

,ProductKey,ProductLabel,ProductName,ProductDescription,ProductSubcategoryKey,Manufacturer,BrandName,ClassID,ClassName,StyleID,...,UnitCost,UnitPrice,AvailableForSaleDate,StopSaleDate,Status,ImageURL,ProductURL,ETLLoadID,LoadDate,UpdateDate
0,1,0101001,Contoso 512MB MP3 Player E51 Silver,512MB USB driver plays MP3 and WMA,1,"Contoso, Ltd",Contoso,1,Economy,1,...,6.62,12.99,2005-05-03,None,On,None,None,1,2008-05-25 08:01:12,2008-05-25 08:01:12