In [2]:
import pandas as pd
import pyodbc

In [6]:
dados_conexao = ("Driver={SQL SERVER};"
                 "Server=ACER-RYZEN\SQLEXPRESS;"
                 "Database=ContosoRetailDW;")

conexao = pyodbc.connect(dados_conexao)

In [8]:
cursor = conexao.cursor()

In [20]:
top_100 = cursor.execute('SELECT TOP 100 * FROM dbo.DimAccount').fetchall()

In [28]:
df = pd.read_sql('SELECT TOP 100 * FROM dbo.DimAccount', conexao)

df

C:\Users\franc\AppData\Local\Temp\ipykernel_16892\3556709783.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT TOP 100 * FROM dbo.DimAccount', conexao)

,AccountKey,ParentAccountKey,AccountLabel,AccountName,AccountDescription,AccountType,Operator,CustomMembers,ValueType,CustomMemberOptions,ETLLoadID,LoadDate,UpdateDate
0,1,NaN,100000,Profit and Loss after tax,Profit and Loss after tax,None,None,None,None,None,1,2009-08-17 20:45:00,2009-08-17 20:45:00
1,2,24.0,111000,Income,Income,Income,+,None,Income,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
2,3,24.0,112000,Expense,Expense,Expense,-,None,Expense,-,1,2009-08-17 20:45:00,2009-08-17 20:45:00
3,4,2.0,110100,Sale Revenue,Sale Revenue,Income,+,None,Income,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
4,5,3.0,112100,Cost of Goods Sold,Cost of Goods Sold,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
5,6,3.0,112200,"Selling, General & Administrative Expenses","Selling, General & Administrative Expenses",Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
6,7,6.0,112300,Administration Expense,Administration Expense,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
7,8,6.0,112400,IT Cost,IT Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
8,9,6.0,112500,Human Capital,Human Capital,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
9,10,6.0,112600,"Light, Heat, Communication Cost","Light, Heat, Communication Cost",Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
10,11,6.0,112700,Property Costs,Property Costs,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
11,12,6.0,112800,Other Expenses,Other Expenses,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
12,13,6.0,112900,Marketing Cost,Marketing & Advertisement Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
13,14,13.0,112910,Holiday Ad Cost,Holiday Ad Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
14,15,13.0,112920,Spring Ad Cost,Spring Ad Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
15,16,13.0,112930,Back-to-School Ad Cost,Back-to-School Ad Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
16,17,13.0,112940,Business Ad Cost,Business Ad Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
17,18,13.0,112950,Tax Time / Summer Ad Cost,Tax Time / Summer Ad Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
18,19,1.0,131000,Taxation,Taxation,Taxation,-,None,Taxation,-,1,2009-08-17 20:45:00,2009-08-17 20:45:00
19,20,14.0,112911,Radio & TV,Holiday Ad Cost by Radio & TV,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
20,21,14.0,112912,Print,Holiday Ad Cost by Print,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
21,22,14.0,112913,Internet,Holiday Ad Cost by Internet,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
22,23,14.0,112914,Other,Holiday Ad Cost by Other,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
23,24,1.0,110000,Profit and Loss before tax,Profit and Loss before tax,None,+,None,None,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,NaN,100000,Profit and Loss after tax,Profit and Loss after tax,None,None,None,None,None,1,2009-08-17 20:45:00,2009-08-17 20:45:00
1,2,24.0,111000,Income,Income,Income,+,None,Income,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
2,3,24.0,112000,Expense,Expense,Expense,-,None,Expense,-,1,2009-08-17 20:45:00,2009-08-17 20:45:00
3,4,2.0,110100,Sale Revenue,Sale Revenue,Income,+,None,Income,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
4,5,3.0,112100,Cost of Goods Sold,Cost of Goods Sold,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
5,6,3.0,112200,"Selling, General & Administrative Expenses","Selling, General & Administrative Expenses",Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
6,7,6.0,112300,Administration Expense,Administration Expense,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
7,8,6.0,112400,IT Cost,IT Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
8,9,6.0,112500,Human Capital,Human Capital,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
9,10,6.0,112600,"Light, Heat, Communication Cost","Light, Heat, Communication Cost",Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
10,11,6.0,112700,Property Costs,Property Costs,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
11,12,6.0,112800,Other Expenses,Other Expenses,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
12,13,6.0,112900,Marketing Cost,Marketing & Advertisement Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
13,14,13.0,112910,Holiday Ad Cost,Holiday Ad Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
14,15,13.0,112920,Spring Ad Cost,Spring Ad Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
15,16,13.0,112930,Back-to-School Ad Cost,Back-to-School Ad Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
16,17,13.0,112940,Business Ad Cost,Business Ad Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
17,18,13.0,112950,Tax Time / Summer Ad Cost,Tax Time / Summer Ad Cost,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
18,19,1.0,131000,Taxation,Taxation,Taxation,-,None,Taxation,-,1,2009-08-17 20:45:00,2009-08-17 20:45:00
19,20,14.0,112911,Radio & TV,Holiday Ad Cost by Radio & TV,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
20,21,14.0,112912,Print,Holiday Ad Cost by Print,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
21,22,14.0,112913,Internet,Holiday Ad Cost by Internet,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
22,23,14.0,112914,Other,Holiday Ad Cost by Other,Expense,+,None,Expense,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00
23,24,1.0,110000,Profit and Loss before tax,Profit and Loss before tax,None,+,None,None,+,1,2009-08-17 20:45:00,2009-08-17 20:45:00