In [1]:
import pandas as pd

In [9]:
populacao_estados  = pd.read_excel('POP2022_Municipios.xls', header = 1, skipfooter=34)

populacao_estados

      UF  COD. UF  COD. MUNIC      NOME DO MUNICÍPIO POPULAÇÃO
0     RO       11          15  Alta Floresta D'Oeste     21558
1     RO       11          23              Ariquemes    100896
2     RO       11          31                 Cabixi      5107
3     RO       11          49                 Cacoal     92202
4     RO       11          56             Cerejeiras     15237
...   ..      ...         ...                    ...       ...
5565  GO       52       22005             Vianópolis     14046
5566  GO       52       22054         Vicentinópolis      8776
5567  GO       52       22203               Vila Boa      3686
5568  GO       52       22302          Vila Propício      5646
5569  DF       53         108               Brasília   2923369

[5570 rows x 5 columns]