In [2]:
import pandas as pd
import json

In [3]:

with open('informacoes.json') as f:
    dados = json.load(f)
    informacoes = pd.json_normalize(dados, record_path='enderecos', meta=['nome', 'idade'])
informacoes

       tipo    rua  numero          cidade   nome idade
0      casa  Rua A     123      SÃ£o Paulo  JoÃ£o    28
1  trabalho  Rua B     456  Rio de Janeiro  JoÃ£o    28

In [8]:
with open ('dados.json') as f:
    dados = json.load(f)
    dados = pd.json_normalize(dados,record_path= 'pessoas')

In [10]:
dados = dados[dados['endereco.rua'] != '']

In [12]:
dados['idade'] = dados['idade'].astype(int)

C:\Users\franc\AppData\Local\Temp\ipykernel_3068\1121530036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['idade'] = dados['idade'].astype(int)

In [14]:
dados

,nome,idade,telefones,endereco.rua,endereco.numero,endereco.cidade
0,JoÃ£o,25,"[11 1111-1111, 11 2222-2222]",Rua A,123,SÃ£o Paulo