In [25]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [43]:
idades = [39,30,27,18]
type(idades)


len(idades)

4

In [27]:
idades.remove(30)
idades.append(15)
idades.append(15)

idades.remove(15)


print(idades)

[39, 27, 18, 15]

In [29]:

if 15 in idades:
    idades.remove(15)
else:
    print('15 não está em idades')

15 não está em idades

In [44]:
idades2 = [18,19,20,21,25]
idades.extend([18,19,20,21,25])
print(idades)

[39, 30, 27, 18, 18, 19, 20, 21, 25]

In [48]:
idade_new = []
for  idade in idades:
    if idade > 21:
        idade + 100
        idade_new.append(idade)
print(idade_new)

[39, 30, 27, 25]

In [49]:
def faz_processamento_visualizacao(lista):
    print(len(lista))

In [50]:
idades = [16,21,29,56,43]
faz_processamento_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43]

In [7]:
class Conta:
    def __init__(self,conta):
        self.conta = conta
        self.saldo = 0
        
    def deposita(self,valor):
        self.saldo += valor
    
    def __str__(self):
        return 'Sua conta é: {} \nO Seu saldo é: {}'.format(self.conta,self.saldo)

In [8]:
conta_francisco = Conta(50)
conta_francisco.deposita(250)
print(conta_francisco)

Sua conta é:50
O Seu saldo é: 250

##Herança e Polimorfismo

In [2]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def deposita(self, valor):
        self._saldo += valor

    @abstractmethod
    def passa_o_mes(self):
        pass

    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [3]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2
  

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3
  

class ContaInvestimento(Conta):
  pass

In [5]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes()

In [40]:
print(conta17)
print(conta16)

[>>Codigo 17 Saldo 1007.0<<]
[>>Codigo 16 Saldo 998<<]

In [6]:
import array as arr

arr.array('d',[1 , 3.5])

array('d', [1.0, 3.5])

In [8]:
import numpy as np

numeros = np.array([1,3.5])
numeros

array([1. , 3.5])

In [13]:
numeros + 3

numeros

array([1. , 3.5])

In [54]:
from functools import total_ordering


@total_ordering
class ContaSalario: 

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self.codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self,outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        return self._codigo < outro._codigo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)


isinstance(ContaCorrente(34), ContaCorrente)

True

In [38]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes()

for conta in contas:
    print(conta)

[>>Codigo 16 Saldo 998<<]
[>>Codigo 17 Saldo 1007.0<<]

In [33]:
from operator import attrgetter

for conta in sorted(contas,key=attrgetter('_saldo','_codigo')):
    print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 16 Saldo 500<<]
[>>Codigo 17 Saldo 1000<<]

In [56]:
conta16 = ContaSalario(16)
conta16.deposita(500)
conta17 = ContaSalario(17)
conta17.deposita(1000)
conta15 = ContaSalario(15)
conta15.deposita(500)
contas = [conta16, conta17, conta15]


conta16 >= conta17
conta16 <= conta17

True

In [42]:
for conta in sorted(contas, reverse=True):
    print(conta)

for conta in sorted(contas, reverse=False):
    print(conta)

[>>Codigo 17 Saldo 1000<<]
[>>Codigo 16 Saldo 500<<]
[>>Codigo 15 Saldo 500<<]
[>>Codigo 15 Saldo 500<<]
[>>Codigo 16 Saldo 500<<]
[>>Codigo 17 Saldo 1000<<]

In [3]:
idades = [15,87,65,56,32,49,37]

for i in range(len(idades)):
    print(i, idades[i])

0 15
1 87
2 65
3 56
4 32
5 49
6 37

In [4]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 65), (3, 56), (4, 32), (5, 49), (6, 37)]

In [9]:
for indice, valor in enumerate(idades):
    print(indice,'|',valor)

0 | 15
1 | 87
2 | 65
3 | 56
4 | 32
5 | 49
6 | 37

In [12]:
for indice, valor in enumerate(idades):
    print(valor)

15
87
65
56
32
49
37

In [18]:
for _, valor in enumerate(idades):
    print(valor)

sorted(idades) #ordenar lista asc
sorted(idades, reverse=True) #ordenar lista  desc

15
87
65
56
32
49
37

[87, 65, 56, 49, 37, 32, 15]